.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

ul {
  list-style-type: none;
}

.EnvCard {
  border: 1px solid;
  margin: 1vh;
  display: flex;
  flex-direction: column;
  width: 20vh;
  height: 15vh;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  border-radius: 25px;
  position: inherit;
  z-index: inherit;
}

.TransactionBody {
  position: inherit;
}

.EnvName {
  display: inline-block;
}

.EnvBalance {
  display: inline-block;
}

.EnvCardHolder {
  cursor: pointer;
}

.NewEnvButton {
  position: relative;
}

.TransListTopRow {
  background-color: bisque;
}

.TransContainer {
  position:absolute;
  background: lightgreen;
  padding: 1%;
  border-radius: 25px;
  width: 50%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.TransListTable {
  table-layout: fixed;
  width: 70%;
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  word-wrap: break-word;
  z-index: inherit;
  background-color: aliceblue;
}

.td, th, tr {
  border: 1px solid;
  width: 33%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
